<html ng-app>
    <head>
        <title>ショッピングカート</title>
    </head>
    <body ng-controller="CartController">
        <h1>ご注文内容</h1>
        <div ng-repeat="item in items">
            <span>{{item.title}}</span>
            <input ng-model="item.quantity" />
            <span>{{item.price | currency}}</span>
            <span>{{item.price * item.quantity | currency}}</span>
            <button ng-click="remove($index)">削除</button>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.min.js"></script>
        <script>
          function CartController($scope){
            $scope.items = [
                { title: "item1", quantity: 8, price: 3}
                ,{ title: "item2", quantity: 8, price: 3}
                ,{ title: "item3", quantity: 8, price: 3}
                ];
            $scope.remove = function(index){
                $scope.items.splice(index,1);
            }
          }
        </script>
    </body>
</html>